<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}

{% block myblock %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Forms</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      </head>
<body>
  <H1>mtapp_index</h1>
<h1>{{ insert }} <h1>
<image src={% static "0.jpg" %}>
  </body>
  </html>
{% endblock %}
